{
    "singleQuote": true,
    "printWidth": 100,
    "editor.formatOnSave": true,
    "proseWrap": "always",
    "tabWidth": 4,
    "indent_size": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "semi": true,
    "semicolons": true,
    "endOfLine": "auto",
    "trailingComma": "es5",
    "plugins": ["prettier-plugin-tailwindcss"]
}
